@media (max-width: 768px) {
    .titleWrap {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scale: .7;
    }

    .adSkip {
        position: absolute;
        bottom: 150px;
        right: 50%;
        transform: translateX(50%);
        border: 1px solid aliceblue;
        width: 190px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        font-size: 30px;
        color: aliceblue;
        cursor: pointer;
        animation: blink .5s ease alternate infinite;
        transition: all .3s;
    }
}

@media (max-width: 568px) {
    .titleWrap {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scale: .5;
    }

}